<template>
    <div class="container mt-5 mb-5">
        <div class="row">
            <div class="col">
                <h3>Add Product</h3>
                <hr>
                <div class="row form-group">
                    <div class="col-xs-12 col-sm-4 mb-2">
                        <input type="text" class="form-control" v-model="product_name" v-bind:class="{ 'is-invalid': errors.name}" placeholder="Product Name">
                </div>
                    <div class="col-xs-12 col-sm-4 mb-2">
                        <input type="text" class="form-control" v-model="price" v-bind:class="{ 'is-invalid': errors.price}" placeholder="Product Price">
                    </div>
                    <div class="col-xs-12 col-sm-4 mb-2">
                        <select class="form-control" v-bind:class="{ 'is-invalid': errors.brand_id}" v-model="brandSelected">
                            <option value="">-Select Brand-</option>
                            <option v-for="brand in brands" v-bind:value="brand.id">{{brand.brand_name}}</option>
                        </select>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col">
                        <textarea class="form-control" name="" id="" cols="30" rows="5"
                                  v-bind:class="{ 'is-invalid': errors.description}"
                                  v-model="product_desc" placeholder="Product Description"></textarea>
                    </div>
                </div>
                <hr>

                <a @click="submitProduct" class="btn btn-success">
                    Submit
                </a>

            </div>
        </div>
    </div>
</template>

<script>
    export default {
        // name: "adds-product.vue",
        data() {
            return {
                brands:[],
                product_name:'',
                product_desc:'',
                price:'',
                brandSelected:'',
                errors:[]
            }
        },
        methods:{
            submitProduct() {
                var data = {
                    name: this.product_name,
                    description: this.product_desc,
                    price: this.price,
                    brand_id: this.brandSelected,
                }
                this.$http.post('api/admin/add-product',data)
                    .then(response => {
                        // console.log(response.body.errors)
                        this.errors = []
                        this.$router.push('/products')
                    }, response => {
                            // console.log(response.body);
                            this.errors = response.body
                        }
                    );
            }
        },
        created() {
            this.$http.get('api/brands')
                .then(response=>{
                    this.brands = response.body
                });
        }
    }
</script>

<style scoped>

</style>