<template>
    <div class="container">
        <div class="row" id="products-list">
            <div class="col col-sm-4" v-for="product in products">
                <div class="card p-3 mb-2">
                    <h4>{{product.name}}</h4>
                    <h5>{{product.price}}</h5>
                    <p>
                        {{product.description | truncate(120)}}
                    </p>
                    <hr>
                    <a @click="viewProduct(product.pid)" class="btn btn-success">
                        View Item
                    </a>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "product-list",
        data()  {
            return {
                products:[],
            }
        },
        created() {
            this.$http.get('api/admin/products')
                .then(response=>{
                    this.products = response.body
                });
        },
        methods: {
            viewProduct(id) {
                alert(id);
            }
        },
        filters: {
            truncate:function(string, value) {
                return string.substring(0,value) + '...'
            }
        }
    };
</script>

<style scoped>
    #products-list {
        margin: 50px 0px;
    }
</style>