<template>

    <div class="container mt-5 mb-5">
        <rfid-connector></rfid-connector>
        <hr>
        <product-unlink :connectedProducts="connectedProducts"></product-unlink>
        <hr>
        <rfid-unlink :connectedProducts="connectedProducts"></rfid-unlink>
    </div>
</template>

<script>
    import RfidConnector from './partials/RfidProductConnector.vue'
    import ProductUnlink from './partials/ProductUnlink.vue'
    import RfidUnlink from './partials/RfidUnlink.vue'
    export default {
        // name: "rfid-connect"
        components: {
          'rfid-connector': RfidConnector,
          'product-unlink': ProductUnlink,
          'rfid-unlink': RfidUnlink,
        },
        data() {
            return {
                connectedProducts:[],
                errors:[]
            }
        },
        created() {
            this.$http.get('api/admin/products')
                .then(response=> {
                    // console.log(response)
                    this.connectedProducts = response.body
                })
            this.$on('newConnectedItem', section => {
                console.log(section);
                this.connectedProducts.push(section)
            });
        },
    }
</script>

<style scoped>

</style>