<template>
    <div class="row">
        <div class="col">
            <h3>Un-Link Product from RFID</h3>
            <hr>
            <div class="row form-group">
                <div class="col-xs-12 col-sm-4 mb-2">
                    <select class="form-control" v-model="productId" v-bind:class="{'is-invalid':errors.product_id}">
                        <option value="">-Select Product-</option>
                        <option v-for="product in connectedProducts" v-bind:value="product.name">
                            {{product.name}}
                        </option>
                    </select>
                </div>
                <div class="col-xs-12 col-sm-4 mb-2">
                    <a  class="btn btn-success" @click="disconnect()">
                        Disconnect
                    </a>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        // name: "product-unlink"
        props: ["connectedProducts"],

        data() {
            return {
                selected: '',
                productId:'',
                errors:[],
            }
        },
        methods: {
            disconnect() {
                var data = {
                    product_id:this.product_id
                }
                this.$http.post('api/admin/unlink-item',data)
                    .then(response=> {
                        console.log(response.body)
                    }, response=> {
                        console.log(response.body)
                    });
            }
        }
    };
</script>

<style scoped>

</style>