<template>
    <div class="row">
        <div class="col">
            <h3>Un-Link RFID from Product</h3>
            <hr>
            <div class="row form-group">
                <div class="col-xs-12 col-sm-4 mb-2">
                    <select class="form-control" >
                        <option value="">-Select RFID-</option>
                        <option v-for="product in connectedProducts">
                            {{product.rfid_no}}
                        </option>
                    </select>
                </div>
                <div class="col-xs-12 col-sm-4 mb-2">
                    <a  class="btn btn-success">
                        Disconnect
                    </a>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        // name: "rfid-unlink"
        props:['connectedProducts']
    }
</script>

<style scoped>

</style>