<template>
    <div class="row">
        <div class="col">
            <h3>Link with RFID</h3>
            <hr>
            <div class="row form-group">
                <div class="col-xs-12 col-sm-4 mb-2">
                    <select class="form-control" v-model="selectedProduct" v-bind:class="{'is-invalid':errors.product_id}">
                        <option value="">-Select Product-</option>
                        <option v-for="product in disConnectedProducts" v-bind:value="product.id">
                            {{product.name}}
                        </option>
                    </select>
                </div>
                <div class="col-xs-12 col-sm-4 mb-2">
                    <select class="form-control" v-model="selectedRfid" v-bind:class="{'is-invalid':errors.rfid_id}">
                        <option value="">-Select RFID-</option>
                        <option v-for="rfid in disConnectedRfid" v-bind:value="rfid.id">
                            {{rfid.rfid}}
                        </option>
                    </select>
                </div>
                <div class="col-xs-12 col-sm-4 mb-2">
                    <a  class="btn btn-success" @click="connect()">
                        Connect
                    </a>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        // name: "rfid-product-connector"
        data() {
            return {
                selectedRfid:'',
                selectedProduct:'',
                connectedProducts:[],
                disConnectedProducts:[],
                disConnectedRfid:[],
                errors:[]
            }
        },
        created() {
            this.$http.get('api/admin/nonlink-items?p=1&rfid=1').then(response=> {
                // console.log(response)
                this.disConnectedProducts = response.body.products
                this.disConnectedRfid = response.body.rfids
            })
        },
        methods: {
            connect() {
                var data = {
                    rfid_id:this.connectRowSelectedRfid,
                    product_id:this.connectRowSelectedProduct,
                }
                this.$http.post('api/admin/link-product',data).then(response=> {
                        this.connectRowSelectedRfid = ''
                        this.connectRowSelectedProduct = ''
                        this.$parent.$emit('newConnectedItem', response.body);
                        /*==================Refreshing List items=======================*/
                        this.$http.get('api/admin/nonlink-items?p=1&rfid=1').then(response=> {
                            this.disConnectedProducts = response.body.products
                            this.disConnectedRfid = response.body.rfids
                        })
                        /*==================End of Refreshing List items=======================*/
                    }, response=> {
                        this.errors = response.body
                    }
                )
            },
        }
    }
</script>

<style scoped>

</style>