<template>
    <div class="container">
        <b-alert show>Default Alert</b-alert>
        <div class="row">
            <div class="col">
                <h1>Dashboard</h1>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "dashboard"
    }
</script>

<style scoped>

</style>