<template>
    <footer>
        <div class="container">

            <div class="row">
                <div class="col col-xs-6">
                    <h4>Quick Links</h4>
                    <ul class="list-unstyled">
                        <li>Dashboard</li>
                        <li>Dashboard</li>
                        <li>Dashboard</li>
                        <li>Dashboard</li>
                    </ul>
                </div>
                <div class="col col-xs-6">
                    <h4>Blog</h4>
                    <ul class="list-unstyled">
                        <li>Fac</li>
                        <li>Dashboard</li>
                        <li>Dashboard</li>
                        <li>Dashboard</li>
                    </ul>
                </div>
                <div class="col col-xs-6">
                    <h4>Blog</h4>
                    <ul class="list-unstyled">
                        <li>Fac</li>
                        <li>Dashboard</li>
                        <li>Dashboard</li>
                        <li>Dashboard</li>
                    </ul>
                </div>
                <div class="col col-xs-6">
                    <h4>Blog</h4>
                    <ul class="list-unstyled">
                        <li>Fac</li>
                        <li>Dashboard</li>
                        <li>Dashboard</li>
                        <li>Dashboard</li>
                    </ul>
                </div>
            </div>

        </div>
    </footer>
</template>

<script>
    export default {
        // name: "footer"
    }
</script>

<style scoped>
    footer {
        background-color: #343a40;
        color: white;
        padding: 15px 0px;
    }

</style>