<template>
  <div id="app" class="container-fluid">

    <navbar v-show="isAuth">
      Loading
    </navbar>

    <div class="row">
      <div class="col">
        <router-view/>
      </div>
    </div>

    <footer-box v-show="isAuth">
      Loading
    </footer-box>

  </div>
</template>

<script>
  import Navbar from './components/nav/navbar.vue';
  import Footer from './components/footer/Footer.vue';
  export default {
    name: 'App',
    data() {
        return {
            isAuth:null
        }
    },
    created() {
      this.isAuth = this.$auth.isAuth()
    },
    components : {
      'navbar': Navbar,
      'footer-box': Footer,
    }
  }
</script>

<style>

</style>
