<template>
    <div class="row">
        <div class="col">
            <!--Nav-->
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <a class="navbar-brand" href="#">RFID</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <b-nav pills>
                        <b-nav-item to="/dashboard">Dashboard</b-nav-item>
                        <b-nav-item-dropdown text="Products" extra-toggle-classes="nav-link-custom" right>
                            <b-dropdown-item to="/products">View List</b-dropdown-item>
                            <b-dropdown-item to="/products/add">Add New</b-dropdown-item>
                            <b-dropdown-divider></b-dropdown-divider>
                            <b-dropdown-item to="/products/link/rfid">Connect RFID</b-dropdown-item>
                        </b-nav-item-dropdown>
                    </b-nav>

                    <b-dropdown right text="Right align" variant="success" class="m-2">
                        <b-dropdown-item href="#">Profile</b-dropdown-item>
                        <b-dropdown-item href="#">Settings</b-dropdown-item>
                        <b-dropdown-item @click="logout()">Logout</b-dropdown-item>
                    </b-dropdown>
                </div>

            </nav>
            <!--Nav End-->
        </div>
    </div>
</template>

<script>
    export default {
        name: "navbar",
        methods: {
            logout() {
                this.$auth.deleteToken();
                this.$router.push('/login');
            }
        }
    }
</script>

<style scoped>
    .nav {
        width: 100%;
    }
    a {
        color: white;
    }
    .nav-link.active {
        background-color: green;
    }
    .dropdown-item {
        color: #333;
    }

</style>