<template>
    <div class="container">
        <div class="row">
            <div class="col" id="form-holder">
                <form action="">
                    <div class="card">
                        <h3 class="text-center">Admin Login</h3>
                        <hr>
                        <div class="row form-group">
                            <div class="col">
                                <input v-model="email" type="text" class="form-control">
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col">
                                <input v-model="password" type="password" class="form-control">
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col">
                                <div @click="login()" class="btn btn-success float-right">
                                    Login
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "login",
        data() {
            return {
                email: 'xdach@gmail.com',
                password: 'password'
            };
        },
        methods : {
            login() {
                var data = {
                    client_id:2,
                    client_secret:'9XPRRGNNWrm9JmpmLSmVWijJVxgHxVeOtelEgxj6',
                    grant_type:'password',
                    username:this.email,
                    password:this.password
                }
                this.$http.post("oauth/token", data)
                    .then(response=> {
                        // console.log(response.body);
                        this.$auth.setToken(response.body.access_token, response.body.expires_in + Date.now());
                        this.$router.push('/dashboard');
                    });
            }
        }
    }
</script>

<style scoped>
    .container {
        margin-top: 20vh;
    }
    #form-holder {
        width: 100%;
        max-width: 400px;
        margin-left: auto;
        margin-right: auto;
    }
    .card {
        background-color: ghostwhite;
        padding: 15px;
    }
</style>